<div class="flex pt-8 lg:pt-16">
    {% if page.has_previous %}
        <span class="cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        </span>
    {% endif %}

    <span class="{% if page.has_previous %}ml-3{% endif %} cursor-not-allowed border-2 border-secondary px-3 py-1 font-body font-medium text-secondary">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>

    {% if page.has_next %}
        <span class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">
            <a href="?page={{ page.next_page_number }}">Next</a>
        </span>
    {% endif %}
</div>
