{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <form method="get" class="flex flex-col mb-5 sm:flex-row">
        <label for="query" class="hidden">Search</label>
        <input
                type="text"
                id="query"
                placeholder="Search for a post"
                autocomplete="off"
                name="query"
                value="{% if query %}{{ query }}{% endif %}"
                class="grow rounded-l-md"/>
        <button type="submit" class="px-10 py-4 font-bold text-xl font-semibold bg-blue-700 text-white rounded-r-md">
            Search
        </button>
    </form>

    <div class="pt-8 lg:pt-8">
        {% for post in posts %}
            {% include 'blog/post/_post.html' %}
        {% empty %}
            <p>No available posts</p>
        {% endfor %}
    </div>

    {% include "blog/pagination.html" with page=posts %}

{% endblock %}