{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body id="main">
<div class="container mx-auto">
    <nav>
        <div class="flex items-center justify-between py-6 lg:py-10">
            <a href="{% url 'intro' %}" class="flex items-center">
                <p class="hidden font-bold text-2xl font-bold text-primary dark:text-white lg:block">
                    Mtali
                </p>
            </a>
            <div class="hidden lg:block">
                <ul class="flex grow items-center">
                    <li class="group relative mr-6 mb-1">
                        <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
                        <a href="{% url 'intro' %}"
                           class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Intro</a>
                    </li>

                    <li class="group relative mr-6 mb-1">
                        <div class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow"></div>
                        <a href="{% url 'blog:post_list' %}"
                           class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content" class="pt-16 lg:pt-20">
        {% block content %}
        {% endblock %}
        <div class="flex flex-col items-center justify-between border-t border-grey-lighter py-10 sm:flex-row sm:py-12">
            <div class="mr-auto flex flex-col items-center sm:flex-row">
                <p class="pt-5 font-body font-light text-primary dark:text-white sm:pt-0">
                    ©2020 Emmanuel Mtali
                </p>
            </div>
        </div>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>